[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
konlpy = "*"
google-cloud-vision = "*"
pymysql = "*"
sklearn = "*"
pandas = "*"
hgtk = "*"
jellyfish = "*"
"boto3" = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
